@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight:600;
}

:root {
    user-select: none;
}